// Colors

@yellow:        #F8DF1F; // YELLOW
@red:        #EE252F; // RED
@white:        #F3F3F3; // WHITE
@black:        #080801; // BLACK
@font-black:    #050500;




// Fonts

@weight:    500;
@sizes:   16px;
@sizem:  @sizes + 2;
@sizel: @sizem + 2;
@sizexl: 30px;

// Button
@radius:  8px;
